<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.htjy.dao.SchoolInfoDao">
    
    <resultMap type="com.htjy.dbo.SchoolInfo" id="schoolInfoMap">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="arrangement" property="arrangement" />
		<result column="icon" property="icon" />
		<result column="signCost" property="signCost" />
	</resultMap>
    
	<select id="list" resultMap="schoolInfoMap">
		SELECT
			id, name, arrangement, icon, signCost
		FROM 
			t_school_info
		WHERE
			signCost IS NOT NULL
		AND arrangement = #{arrangement}
	</select>
	
</mapper>